<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <receiver
      android:name=".NotificationsBootReceiver"
      android:directBootAware="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".NotificationEventReceiver"
      android:exported="false" />
    <receiver
      android:name=".ScheduledNotificationReceiver"
      android:exported="false" />
    <service
      android:name=".NotificationEventTaskService"
      android:exported="false" />
  </application>
</manifest>
