<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.annoytify.modules.onboot"
>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <application>
    <receiver
      android:name=".BootBroadcastReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>
    <service android:name=".BootTaskService" />
  </application>
</manifest>